.navbar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.overlay {
  height: 100%;
  left: -100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255,255,255);
  background-color: rgb(255,255,255, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  /* position: absolute; */
  /* height: 100%;
  width: 100%; */
  text-align: center;
  /* margin-top: 30px; */
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 24px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  cursor: pointer;
  text-align: right;
  display: block;
  font-size: 36px;
  padding-right: 14px;
  padding-top: 5px;
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.row.home {
  margin-top: 50px;
  margin-bottom: 60px;
}

.row.home .col {
  text-align: center;
  height: 208px;
  background-position: center center;
  border-radius: 20px;
  color: white;
  margin: 0 10px;
}

img#logo {
  padding: 5px;
}

.nav-container {
  margin: 0 15px;
}

.nav-link {
  margin-right: 10px;
  color: #2F97D1;
}

.nav-item.lang-selector .nav-link {
  display: inline-block;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.maps-container {
  height: 82vh;
  width: 100%;
  position: relative;
  padding: 0;
}

.map-location-search {
  position: absolute;
  top: 16px;
  width: 100%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 20px;
  z-index: 2;
}

.maps-location-search-container {
  max-width: 640px;
  width: 100%;
}

.maps-location-search-content {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.maps-location-search-content-with-result {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #DDDDDD;
}

.input-icon-search-container {
  background-color: white;
  padding: 18px 0 18px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.maps-location-search-input {
  background: #FFFFFF;
  border: none;
  width: 88%;
  padding-left: 15px;
  font-size: 1.05rem;
}

.input-icon-reset-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.maps-location-reset-icon {
  /* relative to search container */
  width: 24px;
  cursor: pointer;
  height: 24px;
}

.maps-location-search-input:focus {
  outline: none
}

.maps-location-search-input-with-results {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.maps-location-search-input-with-results:focus {
  outline: none
}

.map-results {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: calc(10px + 60px);
}


.maps-location-search-results-container {
  background: #FFFFFF;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;

  /* positioning in the center top */
  max-width: 640px;
  /* 50vw - 1/2 max-width */
  width: 100%;

  /* for children */
  line-height: 20px;

  /* for scrolling */
  max-height: calc(100% - 2 * 16px - 60px);
  overflow-y: scroll;
}

.maps-location-search-results-result:last-child {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
}

.maps-location-search-results-result {
  padding: 10px 20px;
  border-top: 1px solid #DDDDDD;
  display: flex;
}

.maps-location-search-results-result:hover,
.maps-location-search-results-result:focus {
  cursor: pointer;
  background: lightgrey;
}

.maps-location-icon-container {
  flex-basis: 36px;
  /* width of icon + right padding */
}

.maps-location-icon {
  width: 16px;
}

.maps-location-search-results-result-name {
  font-size: 16px;
}

.maps-location-search-results-result-address {
  font-size: 12px;
}

#forest {
  background-image: url("../images/forest.jpg");
}

#money {
  background-image: url("../images/money.jpg");
}

#ocean {
  background-image: url("../images/ocean.jpg");
}

.facts {
  text-align: center;
  margin-bottom: 60px;
  color: #2F97D1;
}

.footer {
  background: #E6F4FD;
  width: 100%;
}

footer {
  padding-top: 25px;
  padding-bottom: 50px;
}

footer p {
  padding-bottom: 0;
  margin-bottom: 0;
}

footer .nav-link {
  margin: 0 10px;
  padding-left: 0;
  padding-right: 0;
  color: #2F97D1;
}

footer .nav-link i {
  font-size: 20px;
  color: #2F97D1;
}

.marker {
  color: #2F97D1;
  position: relative;
}

.marker img {
  position: absolute;
  transform: translate(-50%,-100%);
}

.marker img.pin {
  height: 40px;
  cursor: pointer;
}

.marker img.pin-large {
  height: 50px;
}

.modal-container {
  height: 75vh;
  position: absolute;
  z-index: 1;
  top: 32px;
  left: 25px;
}

.info-card {
  height: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  width: 360px;
  color: #666666;
  overflow-y: scroll;
  position: relative;
}

.info-card::-webkit-scrollbar {
  width: 0px;
}

.back-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 32px;
  flex-shrink: 0;

  margin-top: 10px;
  margin-left: 10px;

  background-color: white;
  border: solid 0px transparent;
  border-radius: 50%;
  z-index: 50;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* .back-button #back {
  height: 26px
} */

.info-card .details {
  height: 100%;
  padding: 0px 16px 77px 16px;
}

.border-blue {
  border-top: 0.5px solid #2F97D1;
  margin-top: 1rem;
}

.detail-section {
  border-bottom: 0.5px solid #2F97D1;
  padding: 1rem 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.detail-section img {
  width: 25px;
  margin-right: 1rem;
}

.place-open-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.place-open-day {
  margin-right: 0.75rem;
}

.detail-section div {
  width: calc(100% - 50px);
}

.carousel {
  display: flex;
  aspect-ratio: 1 / 1;
  width: 100%;
  flex-shrink: 0;
}

.left-carousel-button {
  left: 10px;
  position: absolute;
  height: 28px;
  width: 28px;
  top: 50%;
  transform: translate(0, -50%);
  margin-top: 10px;
  background-color: white;
  border-radius: 50%;
  border: solid 0px transparent;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.8;
}

/* .left-carousel-button #back,
.right-carousel-button #back {
  height: 8px
} */

.right-carousel-button {
  right: 10px;
  position: absolute;
  height: 28px;
  width: 28px;
  top: 50%;
  transform: translate(0, -50%);
  margin-top: 10px;
  background-color: white;
  border-radius: 50%;
  border: solid 0px transparent;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.8;
}

.arrow-container {
  /* White */
  display: relative;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.share-modal {
  padding: 16px;
  height: 144px;
  width: 358px;
  position: absolute;
  left: 487px;
  top: 287px;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.share-modal .link {
  flex-grow: 100;
  display: inline-block;
  border: none;
  background-color: rgb(232, 228, 228);
  padding: 4px;
}

.share-modal-title {
  margin-bottom: 4px;
}

.share-modal .share-modal-title {
  font-size: large;
  font-weight: 400;
}

.share-button {
  border-radius: 35px;
  background-color: rgb(234, 232, 232);
  border: 0;
  font-size: 1rem;
  line-height: 21px;
  font-weight: 400;
  margin-left: 10px;
  padding: 0.5rem 1rem;
}

.actionbuttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.75rem;
}

.share-modal .link-copy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 228, 228);
  width: 326px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 4px;
}

.share-modal .share-link {
  padding-top: 10px;
  margin-bottom: 4px;
}

.share-modal .copy-button {
  color: #2F97D1;
  border: none;
  background-color: rgb(232, 228, 228);
  max-width: 150px;
}

.share-modal .close-share-modal {
  border: none;
  color: lightgray;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
}

.share-button:hover {
  background-color: lightgray;
}

.route-button {
  background-color: #E6F4FD;
  border-radius: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #2F97D1;
  border: 0;
  padding: 0.5rem 1rem;
}

.image-slide {
  height: 100%;
  width: 100%;
  background-position: center center;
}

.summary {
  padding: 21px 16px 0px 16px;
}

.summary .title {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
  align-items: center;
}

.summary .title .pin {
  height: 30px;
}

.summary .title h6 {
  font-size: 20px;
  color: #2F97D1;
  margin: 0;
}

.summary .description {
  padding: 10px 0;
}

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px) {

  .maps-container {
    height: 91vh;
  }

  .maps-location-search-container {
    padding-inline: 0.5rem;
  }

  .maps-location-search-input {
    width: 80%;
  }

  .map-results {
    padding-inline: 0.5rem;
  }

  .modal-container {
    height: 50vh;
    width: 100%;
    left: auto;
    right: auto;
    top: auto;
    bottom: 0;
    position: absolute;
    cursor: pointer;
  }

  .modal-container-slide-up {
    z-index: 3;
    height: 100%;
  }

  .info-card {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    box-shadow: none;
    position: absolute;
    bottom: 0;
    height: fit-content;
    overflow-y: hidden;
  }


  .info-card-slide-up {
    height: 100%;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    overflow-y: scroll;
  }

  .carousel {
    height: 220px;
  }

  .carousel-slide-up {
    height: auto;
    aspect-ratio: 1 / 1;
    width: 100%;
  }

  .description p {
    font-size: 0.875rem;
  }

  .route-button {
    padding: 0.375rem 1.125rem;
  }

  .share-button {
    padding: 0.375rem 1.125rem;
  }

  .info-card .details {
   display: none;
  }

  .info-card .details-slide-up {
    display: block;
  }
}

.loading-container {
  height: 5px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.loading-indicator {
  width: 100%;
  height: 5px;
  background: #2F97D1;
  left: -100%;
  animation: load 3s linear infinite;
  position: absolute;
}

@keyframes load{
  0%{
    left: -100%;
  }
  100%{
    left: 100%;
  }
}
