.overlay {
  height: 100%;
  left: -100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255,255,255);
  background-color: rgb(255,255,255, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  /* position: absolute; */
  /* height: 100%;
  width: 100%; */
  text-align: center;
  /* margin-top: 30px; */
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 24px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  cursor: pointer;
  text-align: right;
  display: block;
  font-size: 36px;
  padding-right: 14px;
  padding-top: 5px;
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.row.home {
  margin-top: 50px;
  margin-bottom: 100px;
}

.row.home .col {
  text-align: center;
  height: 208px;
  background-position: center center;
  border-radius: 20px;
  color: white;
  margin: 0 10px;
}

img#logo {
  padding: 5px;
}

.nav-container {
  margin: 0 15px;
}

.nav-link {
  margin-right: 10px;
  color: #2F97D1;
}

.nav-item.lang-selector .nav-link {
  display: inline-block;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

#forest {
  background-image: url("../images/forest.jpg");
}

#money {
  background-image: url("../images/money.jpg");
}

#ocean {
  background-image: url("../images/ocean.jpg");
}

.footer {
  background: #E6F4FD;
  width: 100%;
}

footer {
  padding-top: 25px;
  padding-bottom: 50px;
}

footer p {
  padding-bottom: 0;
  margin-bottom: 0;
}

footer .nav-link {
  margin: 0 10px;
  padding-left: 0;
  padding-right: 0;
  color: #2F97D1;
}

footer .nav-link i {
  font-size: 20px;
  color: #2F97D1;
}

.marker {
  color: #2F97D1;
}

.marker img.pin {
  height: 40px;
}

.maps-container {
  height: 70vh;
  width: 100%;
  position: relative;
}

.maps-location-search-container {
  position: absolute;
  max-width: 640px;
  top: 16px;
  left: calc(50vw - 640px / 2);/* 50vw - 1/2 max-width */
  width: 100%;
  line-height: 20px;
}

.maps-location-search-input {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: calc(2 * 20px + 18px); /* 20px + icon width + 20px */
  border: none;
  width: 100%;
}

.maps-location-search-input-with-results {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.maps-location-search-icon {
  position: absolute; /* relative to search container */
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
}

.maps-location-search-results-container {
  background: #FFFFFF;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;

  /* positioning in the center top */
  position: absolute;
  max-width: 640px;
  top: calc(16px + 60px);
  left: calc(50vw - 640px / 2);/* 50vw - 1/2 max-width */
  width: 100%;

  /* for children */
  line-height: 20px;

  /* for scrolling */
  max-height: calc(100% - 2 * 16px - 60px);
  overflow: scroll;
}

.maps-location-search-results-result:last-child {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
}

.maps-location-search-results-result {
  padding: 10px 20px;
  border-top: 1px solid #DDDDDD;
  display: flex;
}

.maps-location-search-results-result:hover,
.maps-location-search-results-result:focus {
  cursor: pointer;
  background: lightgrey;
}

.maps-location-icon-container {
  flex-basis: 36px; /* width of icon + right padding */
}

.maps-location-search-results-result-name {
  font-size: 16px;
}

.maps-location-search-results-result-address {
  font-size: 12px;
}